body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px; 
}
#one{
    border-left: solid 3px;
    border-image: linear-gradient(red, cyan);
    border-image-slice: 1;

}
.one{
    color: orangered;
}
.eleven{
    display: flex;
    margin-bottom: 100px;
    margin-left: 25px;
}
.two{
    width: 45%;
    padding-left: 20px;
}
.two img{
    width: 80%;
    margin-left: 40px;
    margin-top: 10px;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);;
    padding: 5px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}
#two{
    text-align: center;
}
#three{
    color: orangered;
}
.three img{
    width: 40%;
}
.three{
    width: 30%;
    margin-left: 25px;
    padding-left: 10px;
    box-shadow: 10px 10px 15px gray;
    border-radius: 5px;
    background-color: rgba(188, 248, 235, 0.904);
}
